/* Контрол с общими действиями */
.Controls{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.Controls button {
    width: 80px;
}

.Controls__basket {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    padding-right: 12px;
}
.Controls__basket span {
    font-weight: bold;

}